<ActionBar title="Contact Us" class="action-bar">
       <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
</ActionBar>
<RadSideDrawer #drawerComponent  tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left"> 
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>

    <ScrollView orientation="vertical" tkMainContent class="page">
        <GridLayout class="m-5" rows="auto auto">
            <StackLayout row="0">
                <StackLayout class="p-10 border"> 
                    
                    <StackLayout>
                        <Label class="h2"[text]="cardTitle"></Label>
                        <Label class="body" [text]="contactInformation" textWrap="true"></Label>      
                    </StackLayout>
                </StackLayout>
            </StackLayout>

            <GridLayout row="1" orientation="horizontal" rows="*" columns="*, *" class="m-t-20">
                <Button row="0" col="0" [text]="('fa-phone' | fonticon) + ' Call'" class="btn btn-rounded-sm btn-outline no-border fa "></Button>
                <Button row="0" col="1" [text]="('fa-envelope-o' | fonticon) + ' Email'" class="btn btn-rounded-sm btn-outline no-border fa" (tap)="sendEmail()"></Button>
            </GridLayout> 
        
        </GridLayout>
    </ScrollView>
</RadSideDrawer>
