<StackLayout class="modal-view-style">
    <GridLayout class="m-5" rows="auto auto auto auto" columns="*, *" [formGroup]="commentForm">
        <Label class="h3 m-15" row="0" col="0" text="Your Name" textWrap="true"></Label>
        <TextField class="input input-border" hint="Your Name"
            row="0" col="1" formControlName="author" [text]=""></TextField>

        <Label class="h3 m-15" row="1" col="0" text="Rating" textWrap="true"></Label>
        <Slider row="1" col="1" minValue="1" maxValue="5" formControlName="rating"></Slider>

        <Label class="h3 m-15" row="2" col="0" text="Your Comments" textWrap="true"></Label>
        <TextField class="input input-border" hint="Your Comments" [text]=""
            row="2" col="1" formControlName="comment"></TextField>

        <Button class="btn btn-primary btn-active m-15" row="3" col="0" text="Submit" (tap)="onSubmit()"></Button>
    </GridLayout>
</StackLayout>
