<ActionBar title="Menu" class="action-bar">
       <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
</ActionBar>

<RadSideDrawer #drawerComponent  tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left"> 
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <StackLayout tkMainContent class="page">
            <!-- 
                it's possible to use *ngFor="let group of peopleByCountry"  (Angular way)
                but we comply with NativeScript way
            -->
            <ListView [items]="dishes" class="list-group" *ngIf="dishes">
                <ng-template let-dish="item">
                    <StackLayout orientation="horizontal" class="list-group-item"
                                 [nsRouterLink]="['/dishdetail', dish.id]">
                        <!-- 
                            p-16 specifies a 16 unit padding around this item
                            m-16 specifies a 16 unit margin  around this item
                         -->
                        <Image row="0" col="0" rowSpan="2" height="108" width="108"  [src]="baseURL + dish.image" class="thumb p-16"></Image>
                        
                        <!-- 
                            GridLayout: tabular layout of the output 
                                rows="auto *"  
                                    auto: the hight is automatically sized to the height of the content
                                    *: it equally divide the space among the rows
                                columns="*"  
                                    *: it equally divide the space among the rows  
                        -->
                        <GridLayout class="list-group-item" rows="auto *" columns="*">
                            <Label row="0" col="0" [text]="dish.name" class="list-group-item-heading"></Label>
                            <Label row="1" col="0" class="list-group-item-text" [text]="dish.description" textWrap="true"></Label>   
                        </GridLayout>
                    </StackLayout>
                </ng-template>
            </ListView>
            
            <!-- 
                ActivityIndicator: shows a loading rotating circle
                    *ngIf="!(dishes || errMess)"
                        <=> (dishes OR errMess) in {null, undefined} 
            -->
            <ActivityIndicator busy="true"  *ngIf="!(dishes || errMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
            <Label *ngIf="errMess" [text]="'Error: ' + errMess"></Label>
        </StackLayout>


</RadSideDrawer>