<ActionBar title="About Us" class="action-bar">
       <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
</ActionBar>

<RadSideDrawer #drawerComponent  tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left"> 
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <StackLayout tkMainContent class="page">

        <GridLayout class="m-5" rows="auto auto auto">
            <StackLayout row="0">
                <StackLayout class="p-10 border">                
                    <StackLayout>
                        <Label class="h2"[text]="historyTitle"></Label>
                        <Label class="body" [text]="ourHistory" textWrap="true"></Label>      
                    </StackLayout>
                </StackLayout>
            </StackLayout>      
        </GridLayout>

        <Label text="Corporate Leadership" class="h2"></Label>

        <ListView [items]="leaderList" class="list-group" *ngIf="leaderList">
            <ng-template let-leader="item">
                    <StackLayout orientation="horizontal" class="list-group-item">

                    <Image row="0" col="0" rowSpan="2" height="70" width="70"  [src]="baseURL + leader.image" class="img-circle"></Image>

                    <GridLayout class="list-group-item" rows="auto *" columns="*">
                        <Label row="0" col="0" [text]="leader.name" class="list-group-item-heading"></Label>
                        <Label row="1" col="0" class="list-group-item-text" [text]="leader.description"  textWrap="true"></Label>   
                    </GridLayout>
                </StackLayout>
            </ng-template>
        </ListView>

        <ActivityIndicator busy="true"  *ngIf="!(leaderList || errMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
        <Label *ngIf="errMess" [text]="'Error: ' + errMess"></Label>
    </StackLayout>
</RadSideDrawer>
